/* Page background */
body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
}

/* Center container */
.container {
    width: 500px;
    margin: 60px auto;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

/* Title */
h1 {
    text-align: center;
    margin-bottom: 25px;
}

/* Labels */
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

/* Inputs and selects */
select,
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Button */
button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background-color: #2c7be5;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #1a68d1;
}

/* Result box */
.result {
    margin-top: 20px;
    padding: 15px;
    background-color: #eaf2ff;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}
.result-card {
    margin-top: 25px;
    padding: 20px;
    background: #eaf2ff;
    border-left: 5px solid #2c7be5;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}